discord.py
python-dotenv
beautifulsoup4==4.9.3
requests
mysql-connector-python==8.0.23
numpy
matplotlib
seaborn
pandas
git+https://github.com/ThorntonMatthewD/osrs-hiscores.git@master#egg=OSRS-Hiscores
aiohttp
xlsxwriter
Pillow
osrsbox
uvloop